{% extends 'base.html' %}
{% load i18n fontawesome %}
{% block content %}
    <h1>
        {{ phone.label }}
        <a href="{% url 'phone:update_phone' phone.id %}" title="{% trans 'Edit' %}">{% fontawesome_icon 'edit' %}</a>
        <a href="{% url 'phone:delete_phone' phone.id %}"
           title="{% trans 'Delete' %}">{% fontawesome_icon 'trash' %}</a>
    </h1>
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>{% trans 'Attribute' %}</th>
                <th>{% trans 'Value' %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% trans 'Battery Level' %}</td>
                <td>{{ phone.battery_level }}</td>
            </tr>
            <tr>
                <td>{% trans 'Needs Charging' %}</td>
                <td>{{ phone.needs_charging }}</td>
            </tr>
            <tr>
                <td>{% trans 'State' %}</td>
                <td>{{ phone.state }}</td>
            </tr>
            <tr>
                <td>{% trans 'Last Seen' %}</td>
                <td>{{ phone.last_seen }}</td>
            </tr>
            <tr>
                <td>{% trans 'Attached Power Socket' %}</td>
                <td>
                    {% if phone.attached_power_socket %}
                        <a href="{% url 'phone:display_power_socket' pk=phone.attached_power_socket.id %}">
                            {{ phone.attached_power_socket }}
                        </a>
                    {% else %}
                        {% trans 'No socket attached' %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>{% trans 'Sim-Cards' %}</h2>
    {% if phone.sims %}
        <ul>
            {% for sim in phone.sims %}
                <li><a href="{% url 'phone:display_sim' pk=sim.id %}">{{ sim.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'This phone contains no sim cards.' %}</p>
    {% endif %}
{% endblock content %}