{% extends 'base.html' %}
{% load i18n fontawesome %}
{% block content %}
    <h1>{% trans 'Your Phones' %}</h1>
    <ul class="card-list">
        {% for phone in phones %}
            <li>
                <a href="{% url 'phone:display_phone' phone.id %}">
                    {{ phone.label }}
                    {% if phone.needs_charging %}
                        <br>
                        <span>{% fontawesome_icon 'battery-empty' %}</span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        <li><a href="{% url 'phone:create_phone' %}">{% fontawesome_icon 'plus-square' %}</a></li>
    </ul>
{% endblock content %}