body {
    background: #2f2f2f;
    color: #fff;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a, a:hover, a:visited, a:active {
    color: #fff;
}
.nav-link,
.navbar-brand {
    text-decoration: none;
}
.navbar-inverse {
    border-radius: 0;
}

.card-list {
    padding: 0;
    margin: 0;
}
.card-list li {
    list-style-type: none;
    display: inline-block;
}
.card-list li a {
    display: inline-block;
    width: 7.5em;
    height: 7.5em;
    border: 1px solid gray;
    padding: 1em;
    text-align: center;
    overflow: hidden;
    background-color: #444;
}

.card-list li a:hover {
    background-color: #646464;
}
.heading_icons {
    font-size: 0.5em;
}