body {
    background: #2f2f2f;
    color: #9d9d9d;
}
a, a:hover, a:visited, a:active {
    color: #9d9d9d;
}

.navbar-inverse {
    border-radius: 0;
}

.card-list {
    padding: 0;
    margin: 0;
}
.card-list li {
    list-style-type: none;
    display: inline-block;
}
.card-list li a {
    display: inline-block;
    width: 5em;
    height: 5em;
    border: 1px solid gray;
    padding: 1em;
    text-align: center;
}