{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'Confirm Deletion' %}</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            {% blocktrans trimmed with power_socket.label as label %}
                Are you sure you want to delete {{ label }}? All related data will also be removed.
            {% endblocktrans %}
        </p>
        <button type="submit" class="btn btn-danger">{% trans 'Delete Power Socket' %}</button>
    </form>
{% endblock content %}