{% load static message_handling %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mosta</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="{% static 'res/logo.png' %}">
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'phone:list' %}">Phones</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% get_error_messages request.session as error_messages %}
    {% if error_messages %}
        <div class="errors">
            <ul>
                {% for error in error_messages %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% get_success_messages request.session as success_messages %}
    {% if success_messages %}
        <div class="success">
            <ul>
                {% for success in success_messages %}
                    <li>{{ success }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %}{% endblock content %}
</main>
<footer>
    {%  comment %}insert imprint etc.{% endcomment %}
</footer>
</body>
</html>