{% load static i18n message_handling bootstrap4 fontawesome %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mosta</title>

    <script src="{% static 'jquery/jquery-3.3.1.js' %}" type="application/javascript"></script>
    {% fontawesome_stylesheet %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'mosta/css/style.css' %}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'pages:homepage' %}">mosta</a>
            </div>
            <div id="nav-main" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard:dashboard' %}" class="nav-link">{% trans 'Dashboard' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'phone:list_phones' %}" class="nav-link">{% trans 'Phones' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'phone:list_sims' %}" class="nav-link">{% trans 'Sim-Cards' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'phone:list_power_sockets' %}"
                               class="nav-link">{% trans 'Power Sockets' %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'pages:homepage' %}" class="nav-link">{% trans 'Home' %}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" class="nav-link">{% trans 'Logout' %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">{% trans 'Login' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">{% trans 'Register' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    {% get_error_messages request.session as error_messages %}
    {% if error_messages %}
        <div class="errors">
            <ul>
                {% for error in error_messages %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% get_success_messages request.session as success_messages %}
    {% if success_messages %}
        <div class="success">
            <ul>
                {% for success in success_messages %}
                    <li>{{ success }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% block content %}{% endblock content %}
</main>
<footer>
    {%  comment %}insert imprint etc.{% endcomment %}
</footer>
</body>
</html>